<!-- contact form -->
<form [formGroup]="importJob">
  <p class="h5 text-center mb-4"></p>

  <div class="md-form">
    <i class="grey-text"></i>
    <input type="text" id="contactFormName" formControlName="contactFormName" class="form-control" mdbInputDirective>
    <label for="contactFormName">Your name</label>
  </div>

  <div class="md-form">
    <i class="grey-text"></i>
    <input type="email" id="contactFormEmail" formControlName="contactFormEmail" class="form-control" mdbInputDirective>
    <label for="contactFormEmail">Your email</label>
  </div>

  <div class="md-form">
    <i class="grey-text"></i>
    <input type="text" id="contactFormSubject" formControlName="contactFormSubject" class="form-control" mdbInputDirective>
    <label for="contactFormSubject">Subject</label>
  </div>

  {{ typeImport }}
  {{ typeUpdate }}
  {{ typeRun }}
</form>
<!-- contact form -->
