<!-- importJob form -->
<form [formGroup]="importJob">
  <p class="h5 text-center mb-4"></p>

  <div class="md-form" *ngIf=" !typeRun " >
    <i class="grey-text"></i>
    <input type="text" id="jobName" formControlName="jobNameCtl" class="form-control" mdbInputDirective>
    <label for="jobName">Job Name</label>
  </div>

  <div class="md-form" *ngIf=" !typeRun ">
    <i class="grey-text"></i>
    <input type="text" id="dbusername" formControlName="usernameCtl" class="form-control" mdbInputDirective>
    <label for="dbusername">Username</label>
  </div>

  <div class="md-form" *ngIf=" !typeRun ">
    <i class="grey-text"></i>
    <input type="text" id="dbpassword" formControlName="passwordCtl" class="form-control" mdbInputDirective >
    <label for="dbpassword">Password</label>
  </div>

  <div class="md-form" *ngIf=" !typeRun ">
    <i class="grey-text"></i>
    <input type="text" id="constr" formControlName="conStrCtl" class="form-control" mdbInputDirective>
    <label for="constr">ConStr</label>
  </div>

  <div  class="md-form" *ngIf=" typeRun || !typeImport || !typeUpdate" >
    <i class="grey-text"></i>
    <input type="text" id="cron" formControlName="cronCtl" class="form-control" mdbInputDirective>
    <label for="cron" >Cron</label>
  </div>

  <div class="modal-footer justify-content-center">
    <a type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="log()"
       mdbWavesEffect>Run</a>
  </div>
  {{ typeImport }}
  {{ typeUpdate }}
  {{ typeRun }}
</form>
<!-- importJob form -->
