<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--Panel-->
      <div class="card card-body">
        <h4 class="card-title">Control Panel</h4>
        <p class="card-text"></p>
        <div class="flex-row">
          <button type="button" class="btn btn-primary waves-light" (click)="styleAdd.show()" mdbWavesEffect>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            New Connection
          </button>
          <button type="button" class="btn btn-warning waves-light" (click)="styleUpdate.show()" mdbWavesEffect>
            <i class="fa fa-refresh" aria-hidden="true"></i>
            Update Connection
          </button>
          <button type="button" class="btn btn-success waves-light" (click)="runJob.show()" mdbWavesEffect>
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            Run Job
          </button>
        </div>
      </div>
      <!--/.Panel-->
      <!-- Add Job-->
      <div mdbModal #styleAdd="mdb-modal" class="modal fade" id="addJob" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="heading lead">New Connection</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="styleAdd.hide()">
                <span aria-hidden="true" class="white-text">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <i class="fa fa-plus fa-4x mb-3 animated rotateIn"></i>
                <app-connection [typeImport]="typeImport"></app-connection>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <a type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="clicked()"
                 mdbWavesEffect>Add</a>
            </div>
          </div>
        </div>
      </div>
      <!--Add Job -->
      <!--Update Job -->
      <div mdbModal #styleUpdate="mdb-modal" class="modal fade" id="updateJob" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="heading lead">Update Connection</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="styleUpdate.hide()">
                <span aria-hidden="true" class="white-text">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <i class="fa fa-exchange fa-4x mb-3 animated rotateIn"></i>
                <app-connection [typeUpdate]="typeUpdate"></app-connection>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <a type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="clicked()"
                 mdbWavesEffect>Update</a>
            </div>
          </div>
        </div>
      </div>
      <!--Update Job -->
      <!--Run Job -->
      <div mdbModal #runJob="mdb-modal" class="modal fade" id="runJob" tabindex="-1" role="dialog"
           aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p class="heading lead">Run Job</p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="runJob.hide()">
                <span aria-hidden="true" class="white-text">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <i class="fa fa-send fa-4x mb-3 animated rotateIn"></i>
                <app-connection [typeRun]="typeRun"></app-connection>
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <a type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="clicked()"
                 mdbWavesEffect>Run</a>
            </div>
          </div>
        </div>
      </div>
      <!--Run Job -->
      <!--Data Table -->
      <!--Data Table -->
    </div>
  </div>
</div>
<app-footer></app-footer>

